.card{
    display: inline-block;
    position: relative;
    border-style:solid;
    border-radius: 5px;
    margin: 5px;
    text-align: left;
    font-size: small;
    width: 250px;
    height: fit-content;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1.7);
}

.cardImg{
    width: 100%; /* Ajustar el ancho de la imagen al 100% de la card */
    height: 50%; /* Ajustar la altura de la imagen */
    background-size: cover; /* Para evitar que la imagen se deforme */
    margin-bottom: -6px;
    top: 0;
    left: 0;
}

.xBtn{
    background-color: black;
    color: white;
    cursor: pointer;
    display: flex;
    position: absolute;
}
.xBtn:hover {
    background-color: red;
    border-color: white;
    }

.FavBtn{
    background-color: transparent;
    border-style: none;
    font-size: large;
    cursor: pointer;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
}
.FavBtn:hover {
    font-size: 24px;
    }

.datos{
    text-align: center;
    font-size:medium;
}

#name{
    color: #4cb5c3;
    font-weight: 100;
    -webkit-text-stroke: 0.25px #FFF874;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: 180px;
    padding: 10px;
}
#name:hover{
    color: #fff874;
    text-decoration: underline;
}