.pContainer{
    background-color: wheat;
    margin: 25px 25px;
    padding: 10px 10px;
    border-style: solid;
    border-radius: 15px;
    font-size: large;
}

.titleAbout{
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    margin: 15px 50px -25px 50px;
    border-radius: 15px;
}