.select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px 20px;
    background-color: wheat;
    border-width: 0.5px;
    cursor: pointer;
  }
  
  .select option {
    color: white;
    background-color: black;
  }